---
import { Link } from "@components/atoms";
import { BlogList } from "@components/organisms";
---


<section id="blog-section" class="grid-blog-section">
  <article class="grid-sections">
    <div>
      <h2>Check out my blog</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nunc dolor, finibus lacinia varius ac, viverra id metus. 
        Sed at condimentum lacus. Morbi velit arcu, imperdiet non mauris id, efficitur blandit urna. Aliquam erat volutpat.
      </p>
    </div>
    <Link href="/blog/" class="btn btn-neutral justify-self-end">All articles →</Link>

  </article>

  <article class="grid-bloglist">
    <BlogList count={3} />
  </article>
</section>