---
import ContactForm from "@components/organisms/ContactForm.astro";
---

<section class="grid-sections">
  <div>
      <h1>Let's talk!</h1>
      <h2>If you need anything, just ask me!</h2>

      <h3>Meeting?</h3>
      <p>Schedule a 1:1 call to discuss your project or questions.</p>

      <h3>Need a hand?</h3>
      <p>I’m happy to support, mentor, or consult on tech challenges.</p>

      <h3>Questions?</h3>
      <p>Send your inquiry anytime — no commitment required.</p>
  </div>

  <div>
    <ContactForm />
  </div>
</section>
