---
import ServiceTabs from "@components/organisms/ServiceTabs.astro";
---

<section id="target-service-section" class="grid-sections">
  <article>
    <div>
      <h2>You need a toolkit?</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nunc dolor, rhoncus varius ex, varius et metus.
      </p>
      <a href="/contact" class="btn btn-neutral">Contact me</a>
    </div>

    <div>
      <h2>Mindset</h2>
      <p>
        Learn to grow your mindset and sharpen your perspective for better outcomes.
      </p>
    </div>
  </article>

  <article>
    <ServiceTabs />
  </article>
</section>
