---
import MainLayout from "@layouts/Main.astro";
---

<MainLayout title="About" description="This is the about page">
    <header class="">
        <div class="">
            <h1>This is the about page</h1>
        </div>
    </header>

    <div class=""> 
        <div class="">
            <slot />
        </div>
    </div>
    
</MainLayout>