---
import { BlogList } from "@components/organisms";
import MainLayout from "@layouts/Main.astro";
---

<MainLayout title="Blog" description="Blog page">   
    <section class="grid-bloglist">
        <BlogList />
    </section>
    
</MainLayout> 