---
import { Picture } from 'astro:assets';
---


<section id="blog-section" class="px-20 py-20 bg-base-100 min-h-screen">
  <div class="flex justify-between items-start mb-12">
    <div class="max-w-5xl">
      <h2 class="text-5xl font-bold">Check out my blog</h2>
      <p class="mt-4 text-2xl leading-relaxed">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nunc dolor, finibus lacinia varius ac, viverra id metus. 
        Sed at condimentum lacus. Morbi velit arcu, imperdiet non mauris id, efficitur blandit urna. Aliquam erat volutpat.
      </p>
    </div>

    <a href="/blog/" class="btn btn-neutral text-sm h-10 mt-50">All articles →</a>
  </div>

  <!-- Cards Section -->
  <div class="flex justify-center gap-30 flex-wrap">
    <!-- Card 1 -->
    <div class="card bg-base-100 w-96 shadow-sm">
      <figure class="h-60 overflow-hidden">
        <Picture
          src="https://media.istockphoto.com/id/516313981/fr/photo/chaussure-de-randonn%C3%A9e-sur-le-sentier-de-pierre-carr%C3%A9s.jpg?s=612x612&w=0&k=20&c=DpLuUwHDDDcfYStcIJaVenTXu9me2XUzecMmZIISNz8="
          width="612"
          height="408"
          alt="Shoes"
          class="object-cover w-full h-full"
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title">DO NOT miss out sports as a developer</h2>
        <p>See how you can introduce yourself to sports to build great habits and a peaceful mind</p>
        <div class="card-actions justify-end">
          <a href="/blog/article-1" class="btn btn-primary">Let's go</a>
        </div>
      </div>
    </div>

    <!-- Card 2 -->
    <div class="card bg-base-100 w-96 shadow-sm">
      <figure class="h-60 overflow-hidden">
        <Picture
          src="https://images.interestingengineering.com/images/SEPTEMBER/computer_bug_-_debug.jpg"
          width="960"
          height="672"
          alt="Bug"
          class="object-cover w-full h-full"
        />
      </figure>
      <div class="card-body">
        <h2 class="card-title">No bug a day keeps the developer away</h2>
        <p>Learn how to code bug-less and how to fix bugs so you can lower your developing costs</p>
        <div class="card-actions justify-end">
          <a href="/blog/article-2" class="btn btn-primary">Let's go</a>
        </div>
      </div>
    </div>

    <!-- Card 3 -->
    <div class="card bg-base-100 w-96 shadow-sm">
      <figure class="h-60 bg-gray-200 flex items-center justify-center">
        <span class="text-gray-400 text-4xl">🖼️</span>
      </figure>
      <div class="card-body">
        <h2 class="card-title">What it takes to become a certified webflow builder.</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nunc dolor, finibus lacinia varius ac, viverra id metus.</p>
        <div class="card-actions justify-end">
          <a class="btn btn-primary">Let's go</a>
        </div>
      </div>
    </div>
  </div>
</section>