<div class="flex justify-center gap-4 flex-wrap">
  <!-- Card 1 -->
  <div class="card bg-base-100 w-96 shadow-sm">
    <figure class="h-60 overflow-hidden">
      <img
        src="https://media.istockphoto.com/id/516313981/fr/photo/chaussure-de-randonn%C3%A9e-sur-le-sentier-de-pierre-carr%C3%A9s.jpg?s=612x612&w=0&k=20&c=DpLuUwHDDDcfYStcIJaVenTXu9me2XUzecMmZIISNz8="
        alt="Shoes"
        class="object-cover w-full h-full"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">DO NOT miss out sports as a developer</h2>
      <p>See how you can introduce yourself to sports to build great habits and a peaceful mind</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Let's go</button>
      </div>
    </div>
  </div>

  <!-- Card 2 -->
  <div class="card bg-base-100 w-96 shadow-sm">
    <figure class="h-60 overflow-hidden">
      <img
        src="https://images.interestingengineering.com/images/SEPTEMBER/computer_bug_-_debug.jpg"
        alt="Bug"
        class="object-cover w-full h-full"
      />
    </figure>
    <div class="card-body">
      <h2 class="card-title">No bug a day keeps the developer away</h2>
      <p>Learn how to code bug-less and how to fix bugs so you can lower your developing costs</p>
      <div class="card-actions justify-end">
        <button class="btn btn-primary">Let's go</button>
      </div>
    </div>
  </div>
</div>


<!-- The images in the cards are not aligned and it is ok for now since they are test.
Will probably add the images in the project and not put their link  -->