---
import Form from "@components/Form.astro";
---

<section class="grid grid-cols-1 md:grid-cols-2 gap-12 px-20 py-20 bg-base-200 min-h-screen">
  <div class="flex flex-col justify-start gap-10">
    <div>
      <h1 class="text-5xl font-bold">Let's talk!</h1>
      <p class="mt-4 text-2xl">If you need anything, just ask me!</p>
    </div>

    <div>
      <h3 class="text-2xl font-semibold">Meeting?</h3>
      <p class="text-lg mt-1">Schedule a 1:1 call to discuss your project or questions.</p>
    </div>

    <div>
      <h3 class="text-2xl font-semibold">Need a hand?</h3>
      <p class="text-lg mt-1">I’m happy to support, mentor, or consult on tech challenges.</p>
    </div>

    <div>
      <h3 class="text-2xl font-semibold">Questions?</h3>
      <p class="text-lg mt-1">Send your inquiry anytime — no commitment required.</p>
    </div>
  </div>

  <div class="flex items-start pt-8">
    <Form />
  </div>
</section>
