<div class="mt-15 flex items-center justify-center">
    <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
    <legend class="fieldset-legend">Contact</legend>

    <label class="label">Name</label>
    <input type="email" class="input" placeholder="Dako Liks" />

    <label class="label">Email</label>
    <input type="password" class="input" placeholder="dako.liks@hotmail.com" />

    <label class="label">Message</label>
    <input type="password" class="input" placeholder="Hi! My name is Dako Liks and I'm currently leading a tech team that needs to be helped. Let's get in touch." />

    <button class="btn btn-neutral mt-4">Submit</button>
    </fieldset>
</div>
