---
import MegaMenu from "@components/MegaMenu.astro"
import LinkedInIcon from "@assets/socials/linkedin.svg"
---

<div class="navbar bg-base-100 shadow-sm px-17">
  <div class="navbar-start">
    <a href="/" class="btn btn-ghost text-xl">Kodaskills</a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal">
      <li>
        <details>
          <summary>Services</summary>
            <MegaMenu />
        </details>
      </li>
      <li>
        <details>
          <summary>Ressources</summary>
          <ul class="p-2">
            <li><a>Ressource 1</a></li>
            <li><a>Ressource 2</a></li>
          </ul>
        </details>
      </li>
      <li><a href="/about">About</a></li>
      <li><a href="/blog">Blog</a></li>
    </ul>
  </div>
  <div class="navbar-end">
    <a href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
      <LinkedInIcon class="w-6 h-6 mr-3 ">
    </a>
    <a href="/contact" class="btn">Contact</a>
  </div>
</div>