<ul class="menu xl:menu-horizontal bg-base-200 rounded-box lg:min-w-max">
    <li>
        <a class="flex flex-col items-start gap-0">
            <span class="text-lg font-semibold">Tech leadership and strategy</span>
            <p class="font-extralight text-sm text-gray-400 mt-0">Fractional CTO support and long-term vision</p>
        </a>
        <a class="flex flex-col items-start gap-0">
            <span class="text-lg font-semibold">Product & Software Development</span>
            <p class="font-extralight text-sm text-gray-400 mt-0">Build robust and reliable software that works-- and scales</p>
        </a>
        <a class="flex flex-col items-start gap-0">
            <span class="text-lg font-semibold">Caling & Infrastructure</span>
            <p class="font-extralight text-sm text-gray-400 mt-0">Build systems that grow with your business</p>
        </a>
    </li>
    <li>
        <a class="flex flex-col items-start gap-0">
            <span class="text-lg font-semibold">Crisis & Incident Response</span>
            <p class="font-extralight text-sm text-gray-400 mt-0">Jumpin in when things break-- or before they do</p>
        </a>
        <a class="flex flex-col items-start gap-0">
            <span class="text-lg font-semibold">Security & Compliance</span>
            <p class="font-extralight text-sm text-gray-400 mt-0">Make your product trustworthy, secure, and audit-ready</p>
        </a>
        <a class="flex flex-col items-start gap-0">
            <span class="text-lg font-semibold">On-Demand Expertise</span>
            <p class="font-extralight text-sm text-gray-400 mt-0">Senior help, from code to cloud, without full-time overhead</p>
        </a>
    </li>
</ul>