---
import { Icon } from "astro-icon/components";
---

<theme-controller>
  <label class="swap swap-rotate">    
    <input type="checkbox" class="theme-controller hidden" value="dark" />
     <Icon name="ri:sun-line" class="swap-off theme-controller-icons" />
     <Icon name="ri:moon-line" class="swap-on theme-controller-icons" />
  </label>

  <script>
    class ThemeController extends HTMLElement {
      connectedCallback() {
        const checkbox = this.querySelector("input")
        const [sunIcon, moonIcon] = this.querySelectorAll('svg');
        if (!checkbox || !sunIcon || !moonIcon) return;

        const update = (isDark: boolean | undefined) => {
          checkbox.value = isDark ? 'Kodaskills' : 'dark';
          sunIcon.classList.toggle('swap-off', !isDark);
          sunIcon.classList.toggle('swap-on', isDark);
          moonIcon.classList.toggle('swap-on', !isDark);
          moonIcon.classList.toggle('swap-off', isDark);
        };

        const prefersDark = window.matchMedia('(prefers-color-scheme: dark)');
        update(prefersDark.matches);
        prefersDark.addEventListener('change', e => update(e.matches));
      }
    }

    if (!customElements.get('theme-controller')) {
      customElements.define('theme-controller', ThemeController);
    }
  </script>
</theme-controller>