---
import { Picture } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import { Link } from "@components/atoms";

interface Props {
  post: CollectionEntry<"blog">;
}

const { post } = Astro.props;
---

<div class="card bg-base-100 w-96 shadow-sm">
  <figure class="h-60 overflow-hidden">
      <Picture {...post.data.image} class="object-cover w-full h-full"/>
  </figure>
  <div class="card-body">
      <h1 class="card-title">{post.data.title}</h1>
      <p>{post.data.description}</p>
      <div class="card-actions justify-end">
          <Link href={`/blog/${post.id}`} class="btn btn-primary">Let's go</Link>
      </div>
  </div>
</div>