<article class="contact-form-fieldset">
  <label for="Name" class="label">Name</label>
  <input name="Name" type="text" class="input" placeholder="Dako Liks" />

  <label for="Email" class="label">Email</label>
  <input name="Email" type="email" class="input" placeholder="dako.liks@hotmail.com" />

  <label for="Message" class="label">Message</label>
  <textarea name="Message" class="textarea resize-none" maxlength="1000" placeholder="Hi! My name is Dako Liks and I'm currently leading a tech team that needs to be helped. Let's get in touch."></textarea>

  <button class="btn btn-neutral">Submit</button>
</article>
