---
import { Link, Logo, ThemeController } from "@components/atoms";
import { MainMenu } from "@components/molecules";
import { Icon } from "astro-icon/components";
---

<header class="navbar">
  <div class="navbar-start">
    <Logo />
  </div>
  <nav class="navbar-center">
    <MainMenu />
  </nav>
  <div class="navbar-end">
    <Link href="https://linkedin.com" target="_blank" aria-label="LinkedIn">
      <Icon name="ri:linkedin-box-fill" />
    </Link>
    <div>
      <ThemeController />
    </div>
    <Link href="/contact" class="btn btn-accent">Contact</Link>
  </div>
</header>