---
import { Link, Logo, ThemeController } from "@components/atoms";
import { MainMenu } from "@components/molecules";
import { Icon } from "astro-icon/components";
---

<div class="navbar">
  <div class="navbar-start">
    <Logo />
  </div>
  <nav class="navbar-center">
    <MainMenu />
  </nav>
  <div class="navbar-end">
    <Link
      href="https://linkedin.com"
      target="_blank"
      aria-label="LinkedIn"
      class="no-ext-icon"
    >
      <Icon name="ri:linkedin-box-fill" />
    </Link>
    <ThemeController />
    <Link href="/contact" class="btn btn-accent">Contact</Link>
  </div>
</div>
