---
import { Picture } from "astro:assets";
import MainLayout from "@layouts/Main.astro";

import { formatDate } from "@functions/utils";

const { frontmatter } = Astro.props;
const { title, description, date = Date(), image } = frontmatter;
---

<MainLayout {title} {description}>
  <header class="">
    <div class="">
      <h1 class="">{title}</h1>
      <p>{formatDate(date)}</p>
    </div>
    <Picture {...image} loading="eager" decoding="sync">
  </header>

  <div class=""> 
    <div class="">
      <slot />
    </div>
  </div>
</MainLayout>
