---
import { Picture } from "astro:assets";
import MainLayout from "@layouts/Main.astro";

import { formatDate } from "@functions/utils";

const { frontmatter } = Astro.props;
const { title, description, date = Date(), image } = frontmatter;
---

<MainLayout {title} {description}>
  <header>
      <h1>{title}</h1>
      <p>{formatDate(date)}</p>
    <Picture {...image} loading="eager" decoding="sync">
  </header>
      
  <slot />
</MainLayout>
