---
import "@styles/global.css";
import { Footer, Header } from "@components/organisms";
import MainHead from "@layouts/MainHead.astro";
import type { Layout } from "@types";

interface Props extends Layout {}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<MainHead {title} {description} />
	<body>
    <div class="navbar-wrapper">
      <Header />
    </div>
      <main class="main-content">
        <slot>Default Text</slot>	
      </main>
    <div class="footer-wrapper">
      <Footer />
    </div>
	</body>
</html>
