---
import "@styles/global.css";
import { Footer, Header } from "@components/organisms";
import MainHead from "@layouts/MainHead.astro";
import type { Layout } from "@types";

interface Props extends Layout {}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<MainHead {title} {description} />
	<Header />
	<body class="">
    	<main class="">
      	<slot>Default Text</slot>	
    	</main>
		<Footer />
  	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
