---
import "@styles/global.css";
import { Footer, Header } from "@components/organisms";
import MainHead from "@layouts/MainHead.astro";
import type { Layout } from "@types";

interface Props extends Layout {}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <MainHead {title} {description} />
  <body>
    <div class="main-wrapper">
      <header class="main-header">
        <div class="main-header-content">
          <Header />
        </div>
      </header>
      <main class="main-content">
        <slot />
      </main>
      <footer class="main-footer">
        <div class="main-footer-content">
          <Footer />
        </div>
      </footer>
    </div>
  </body>
</html>
