---
import MainLayout from "@layouts/Main.astro";

const { frontmatter } = Astro.props;
const { title, description } = frontmatter;
---
<MainLayout {title} {description} >
  <header class="">
    <div class="">
      <h1 class="">{title}</h1>
    </div>
    <img src="" alt="">
  </header>

  <div class=""> 
    <div class="">
      <slot />
    </div>
  </div>
</MainLayout>